.DS_Store
.idea/
__pycache__/
*.pyc

.venv-kv/
.venv-kv2/

benchmark_data/

CommVQ/
HeadKVRepo/
KIVIRepo/
LongBenchRepo/
QJL/
kvpress/

results/carp_multistep_debug.exit
results/carp_multistep_debug.json
results/carp_multistep_debug.log
results/carp_multistep_hybrid_debug.json
